.advantages {
    padding-top: 336px;
    padding-bottom: 209px;

    background-image: url(..//img/advantages/advantages.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.advantages__title {
    margin-bottom: 90px;
}

.advantages__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 112px;
    row-gap: 60px;
}

.advantages__item {
    width: 500px;
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    
}

.advantages__item-title {
    color: #1A1F25;
    font-weight: 500;
}