.porfolio {
    padding: 90px 0 20px 353px;
}

// .porfolio__content {
 
// }

.porfolio__title {
    margin-bottom: 70px;
    padding-left: 463px;
}

.porfolio__wrap {
    display: flex;
    column-gap: 130px;
}

.portfolio__dots {
    padding-top: 200px;
}

.porfolio__imege {
    position: relative;
}

.portfolio__button {
    position: absolute;
    top: 200px;
    right: 60px;
}